/* decorate the image */
.banner{
    padding: 200px;
    position: relative;
    width: 1320px;
    height: 600px;
}
.banner img{
    display: block;
    width: 4500px;
    height: 1700px;
}
 .banner-text1{
position: absolute;
top:200px;
right:200px;
font-size: 100px;
color:#FFF;
padding-right: 400px;
}
.banner-text2{
    position: absolute;
    top: 500px;
    left:500px;
    color: #FFF;
    font-size: 140px;
}
.banner-info{
    text-align: center;
    margin-top: 1200px;
    background-color:green;
    margin-left: 200px;
    margin-right: 290px;
    background: #FFF;
     }
.banner-info h1{
    font-size: 170px;
    color: #FF0000;
  }
.banner-info p{
    font-size: 36px;
    color: #FF0000;
     }
.banner-info h3{
    font-size: 96px;
    color:#070211;
     }
.banner-info img{
    width:2100px ;
    height: 1500px;
     }
.banner-pic{
    margin-left: 200px;
    margin-right: 290px;
    margin-top:300px;
    position: relative;
        }
.banner-pic img{
    width: 4500px;
    height:1700px ;
}
.banner-pic h2{
    padding-left:3000px;  
    font-size: 150px;
}
.banner-pic p{
font-size:42px;
padding-left: 3000px;
}
.banner-pic h5{
font-size: 55px;
padding-left: 3500px;
}
.text{
top: 10%;
position: absolute;
color: #FFF;
justify-content: center;
flex-direction: column;
align-items: center;
}
.banner-pic1{
height: 1500px;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin-left: 200px;
margin-right: 290px;
margin-top:300px;
    }	
.banner-pic1 h3{
font-size: 100px;
font-weight:bolder;
padding-left: 1700px;
padding-top:200px;
  }      
.banner-pic1 h4{
font-size: 100px;
font-weight:bolder;
padding-left: 1580px;
  }  
.banner-pic1 h6{
font-size: 100px;
font-weight:bolder;
padding-left: 1440px;
     } 
.button{
width:400px;
 height: 150px;
 margin-left: 1900px;
 border-radius: 50px;
 font-size: 40px;
 font-weight:bold;
 background-color: #F00;
  }
.banner-3{
 width:auto;
 height: 1200px;
display: flex;
align-items: center;
background-color:#FFF;
 margin-top: 500px;
margin-left: 300px;
margin-right: 300px;
margin-bottom: 700px;
}
.image{
width:1300px;
height:1300px;
background-color:#FFF;
padding: 50px;
border-radius:50%;
border: 30px solid red;
margin-left: 300px;
}
.banner-content h4{
font-size:60px;
color: #FF0000;
padding-left: 200px;
}
.banner-content h1{
font-size: 130px;
color: #070211;
font-weight: bold;
padding-left:200px;
 }
.banner-content p{
font-size: 35px;
color: rgba(7, 2, 17, 0.60);
padding-left: 200px;
}
.banner-content2 h3{
font-size: 130px;
color: #FF0000;
font-weight: bold;
padding-left: 300px;
}
.banner-content2 p{
font-size: 35px;
color: rgba(7, 2, 17, 0.60);
padding-left:300px;
}
.banner-content2 img{
width: 300px;
height: 200px;
padding-left: 300px;
} 
.banner-4{
width: auto;
background: #FFF;
margin-right: 300px;
margin-left: 200px;
} 
 .banner-4 h5{
font-size: 46px;
color: #070211;
padding-left: 2000px;
}
.banner-4 h2{
font-size: 110px;
font-family: verdana;
padding-left:1730px ;
}
  .banner-4 p{
font-size: 40px;
padding-left:1100px;
color: rgba(7, 2, 17, 0.60);
  }
 .border img{
  width: 4500px;
  height: 300px;
 }
 .banner-content1 img{
  width: 4500px;
  height: 2000px;
 }
 .banner-5{
margin-top: 300px;
  margin-left: 200px;
  width: 3000px;
  height: 2400px;
  background:#FFF;
 }
 .banner-content4 img{
padding: 15px;
width: 900px;
height: 800px;

 }
 .banner-content5 img{
  padding: 15px;
width: 900px;
height: 800px;
}
.banner-content3 h5{
color: #FF0000;
font-size: 76px;
}
 .banner-content3 h2{
color: #070211;
font-size: 130px;

 }
 .banner-content3 p{
font-size: 46px;
color: rgba(7, 2, 17, 0.60);
 }
 

.banner-6{
  background: rgba(255, 0, 0, 0.05);
  margin-left: 200px;
  margin-right: 200px;
  width: 4500px;
  height:1500px;
  margin-top: 250px;
  
}
.banner-6 img{
width: 300px;
height: 300px;
padding-left: 2000px;
padding-top: 100px;
}
.banner-6 h2{
font-size: 120px;
font-weight: bolder;
font-family: georgia;
padding-left:1500px ;
}
.banner-6 p{
font-size: 46px;
color: rgba(7, 2, 17, 0.60);
padding-left: 1400px;
}
.box{
position: absolute;
padding-left: 1500px;
padding-top: 70px;
}
input{
position: relative;
display: inline-block;
font-size: 40px;
box-sizing: border-box;
transition: .5s;
}
input[type="text"]
{
background: #FFF;
width: 900px;
height: 150px;
border: none;
outline: none;
padding: 0 50px;
border-radius: 70px 0px 0px 70px;
}
input[type="submit"]
{
position: relative;
left:-5px;
border-radius: 0px 70px 70px 0px;
width: 400px;
height: 150px;
border: none;
outline: none;
background:red;
color: #FFF;
}
.banner-7{
margin-top: 300px;
background-color: #070211;
width: auto;
height: 1470px;
color: #FFF;
margin-bottom: auto;
}
.banner-7 p{
font-size: 66px;
padding-top: 300px;
padding-left: 200px;
}
.banner-7 h1{
font-size: 100px;
padding-left: 2030px;

}
.banner-7 h2{
padding-left:2050px;
font-size: 60px;
}
.banner-7 img{
  width: 150px;
  height: 150px;
  padding-left: 200px;
}
.banner-7 h3{
  font-size: 70px;
  padding-left: 200px;
  margin-top: 100px;
}
.banner-7 h4{
  font-size: 70px;
  padding-left: 4000px;
  margin-top: 10px;
}